.bg-orange{
    background-color: #5dbb63;
}
.main-content{
    width: 73%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.section-header{
    text-align: center;
}

.text-orange{
    color: #fa8128;
}